body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #fff;
}
ul , ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
button {
  cursor: pointer;  
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* #region common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #endregion */


/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
display: flex;
align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-item {
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* #endregion */   


/* #region hero */
.hero {
background-color: #2e2f42; 
padding: 188px 0;
}

.hero-container{
display: flex;
flex-direction: column;
align-items: center;
}

.hero-title {
max-width: 496px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;   
margin-bottom: 48px;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404bbf;
}

.order-btn { 
min-width: 169px;
border: none;
border-radius: 4px;
padding-block: 16px;
padding-inline: 32px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;   
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}


/* #endregion */


/* #region features */

.features {
padding: 120px 0;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
padding-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.features-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}


/* #endregion */


/* #region team */
.team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-title {
    padding-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-content {
padding: 32px 16px;
}

.team-list {
display: flex;
gap: 24px;
justify-content: center;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion */


/* #region portfolio  */ 

.portfolio {
padding: 120px 0;
}

.portfolio-title {
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list { 
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: center;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-item {
width: calc((100% - 48px) / 3);
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
}

.portfolio-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.portfolio-content {
padding: 32px 16px;
width: 100%;
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
box-sizing: border-box;
}

/* #endregion */ 


/* #region footer */
.footer-logo {
    margin-bottom: 16px;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo {
    display: inline-block;
}
.footer-text {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* #endregion */


